 <!-- header -->
 <header class="header-area">
    <div class="container-fluid">
       <div class="row ">
         
          <div class=" col-md-2 col-sm-3">
             <div class="logo">
                <a href="/">Photo<br><span>Talk</span></a>
             </div>
          </div>
          <div class="col-md-8 col-sm-9">
             <div class="navbar-area" style="float: right;">
                <nav class="site-navbar">
                   <ul>
                      <li><a href="/">Home</a></li>
                      <li><a href="/about">About</a></li>
                      <li><a href="/photos">Photos</a></li>
                      <li><a href="/contact">Contact</a></li>
                      <% if (user) { %>
                        <li><a href="/users">Users</a></li>
                        <li><a href="/users/dashboard">Dashboard</a></li>
                        <li><a href="/logout">Logout</a></li>
                        <% } else { %>
                           <li><a href="/login">Login</a></li>
                           <li><a href="/register">Register</a></li>


                         <% } %>
                   </ul>
                </nav> 
 </header>